.game.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game .outer-image-wrapper {
  max-width: 95vw;
  overflow: auto;
}

.game .image-wrapper {
  width: max-content;
  height: max-content;
  transform-origin: top left;
  position: relative;
}

.game .image-wrapper img {
  height: auto;
  transform-origin: top left;
  transition: transform ease 0.3s;
  border-radius: 5px;
}

/* do you want to allow zooming less than original? */
.zoom--1 {
  transform: scale(0.8);
}

.zoom-0 {
  transform: scale(1);
}

.zoom-1 {
  transform: scale(2);
}

.zoom-2 {
  transform: scale(2.5);
}

.next-button,
.form-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-100t);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: 2px solid var(--neutral-500);
  text-align: center;
  font-size: 1.4rem;
}

.upper {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lower {
  text-transform: lowercase;
}

.bounding-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid var(--neutral-100);
  transform: translate(-50%, -50%);
}

svg.wrong-icon {
  opacity: 0;
  fill: var(--neutral-100);
  height: 40px;
  width: 40px;
  animation-name: fadein;
  animation-duration: 800ms;
  animation-delay: 100ms;
  animation-timing-function: linear;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
