.game.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.game .outer-image-wrapper {
  max-width: 95vw;
  overflow: auto;
}

.game .image-wrapper {
  width: max-content;
  height: max-content;
  transform-origin: top left;
  position: relative;
}

.game .image-wrapper img {
  height: auto;
  transform-origin: top left;
  transition: transform ease .3s;
  border-radius: 5px;
}

/* do you want to allow zooming less than original? */
.zoom--1 {
  transform: scale(0.8);
}

.zoom-0 {
  transform: scale(1);
}

.zoom-1 {
  transform: scale(2);
}

.zoom-2 {
  transform: scale(2.5);
}

.inline, .button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.next-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}