.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .action-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title-div {
  display: flex;
  align-items: last baseline;
  gap: 1rem;
}

.title-div h1 {
  font-size: 2.5rem;
  line-height: 1;
}

.thumbnail {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.game .action-div p {
  font-size: 1.25rem;
}

.timer span {
  font-size: 1.8rem;
}

.quit {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 2px solid var(--neutral-500);
  background-color: transparent;
}

.quit:hover, 
.quit:focus {
  background-color: var(--neutral-500);
  color: var(--neutral-100);
}

.inline, .button-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-wrapper button {
  background-color: transparent;
  border: none;
}

.button-wrapper button svg {
  fill: var(--neutral-500);
  height: 30px;
  width: 30px;
}

.out {
  transform: rotate(180deg);
}